---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Second Post" description="The second demo blog post.">
  <h1>Second Post</h1>
  <p>Body of the second post, also under the Blog section.</p>
</Layout>
